.mobile-menu {
  display: none;

  @include r($mobile) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $blue-black;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .2s linear;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100vh;

    .nav {
      flex-direction: column;

      &__link {
        font-size: 24px;
        font-weight: 800;
        line-height: 28.8px;
        text-align: center;
      }
    }
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    z-index: 2;
  }
}