.article-partner {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 159px;
  width: 100%;
  max-width: 292px;
  padding: 0 53px;
  border: 1px solid rgba($blue-light, 0.5);

  &--main {
    grid-column: span 4;

    @include r($mobile) {
      grid-column: auto;
    }
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    text-transform: uppercase;
    color: $blue-white;
  }
}