// Colors
$white: #FFFFFF;
$light: #EFF6FF;
$black: #141414;
$beige: #C39367;
$blue-black: #0F284B;
$blue: #1E507B;
$blue-dark: #3C8098;
$blue-light: #5FA7B6;
$blue-white: #80CFD4;
$red: #E04E39;
$red-accent: #F61C1C;
$dark: #001437;

// Fonts
$font-main: 'Golos Text', sans-serif;

$mobile: 1200