<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<div class="up" data-up>
  <svg class="up__icon">
    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
  </svg>
</div>
<%= htmlWebpackPlugin.options.pageHeader %>
<div id="smooth-wrapper">
  <div id="smooth-content">
    <main class="main">
      <section class="section section--light section--program pt-190 ptm-135 pb-140">
        <div class="container">
          <div class="program">
            <article class="article-program">
              <h2 class="program__title title title--dark">Программа форума</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">9:00 - 15:00</time>
                    <div class="article-program__notation">
                      Отель Karmann’s, конференц зал,
                      5 этаж
                      (г. Светлогорск, ул. Ленина, 14)
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">В2В переговоры предпринимателей Калининградской области с
                      предпринимателями из Республики Армения, Грузии, Республики Беларусь</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        09:00 – 09:30 Приветственное слово <strong>Кирилла Лило</strong> – директора Фонда «Центр
                        поддержки
                        предпринимательства Калининградской области»<br>
                        09:30 – 11:00 В2В встречи с калининградскими предпринимателями<br>
                        12:00 – 13:20 B2B встречи c калининградскими предпринимателями<br>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">09:30 – 18:00</time>
                    <div class="article-program__notation">
                      Парковка перед театром эстрады «Янтарь-Холл»
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Выставочная зона автомобилей</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        Общество с ограниченной ответственностью «Рус Моторс Трейд»
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">10:00 - 10:30</time>
                    <div class="article-program__notation">
                      Фойе Конференц-залов
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Официальный обход выставки производителей Калининградской
                      области</h3>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">11:00 – 19:00</time>
                    <div class="article-program__notation">
                      Внутренний дворик Янтарь-Холла
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мой бизнес. VII Ярмарка самозанятых "ARTISONE Маркет"</h3>
                    <h3 class="article-program__title">Ярмарка сельскохозяйственных производителей Калининградской
                      области</h3>
                    <h3 class="article-program__title">Стритфуд</h3>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <h2 class="program__title title title--dark">Открытие форума</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">10:30 - 11:00</time>
                    <div class="article-program__notation">Концертный зал</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Открытие форума</h3>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">11:00 - 12:30</time>
                    <div class="article-program__notation">Концертный зал</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Пленарная сессия «Море бизнеса – океан возможностей»</h3>
                    <div class="article-program__description">
                      <h4 class="article-program__title article-program__title--medium">Модераторы:</h4>
                      <p class="article-program__text">
                        <strong>Кирилл Лило</strong> – директор Фонда «Центр поддержки предпринимательства
                        Калининградской области»<br>
                        <strong>Валентин Вахтин</strong> - Ведущий Форума.<br>
                        В рейтинге 100 лучших ведущих России по версии TOP 100 AWARDS на 33 месте
                      </p>
                    </div>
                    <div class="article-program__description">
                      <h4 class="article-program__title article-program__title--medium">Спикерами пленарной сессии
                        выступят:</h4>
                      <ol class="article-program__list">
                        <li class="article-program__item">
                          Тема выступления «Образование в бизнес-среде»<br>
                          <p class="article-program__text">
                            <strong>Олег Борисович Пономарев</strong> - учредитель компании SPAR Калининград, д.э.н.,
                            автор учебника по предпринимательству и толкового словаря «Экономика как наука»;
                          </p>
                        </li>
                        <li class="article-program__item">
                          <strong>Представитель ГК «Росатом»</strong>
                        </li>
                        <li class="article-program__item">
                          <strong>Представитель ГК «Автотор»</strong>
                        </li>
                        <li class="article-program__item">
                          <strong>Юлия Игоревна Сахарова</strong>
                          <p class="article-program__text">
                            Директор Северо-Западного представительства
                            федерального
                            рекрутингового портала HeadHunter, Член Правления HeadHunter Group, председатель Совета
                            бизнеса по вопросам инвалидности в Петербурге (2014-2018 гг), член общественных и
                            наблюдательных советов (Кадровый совет при Губернаторе Санкт-Петербурга, Общественный Совет
                            при Комитете по труду и занятости населения Санкт-Петербурга, председатель ГЭК СПбГУ);
                          </p>
                        </li>
                        <li class="article-program__item">
                          <strong>Екатерина Шеленкова</strong>
                          <p class="article-program__text">
                            Заместитель руководителя отдела развития продуктов
                            Битрикс24
                          </p>
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <h2 class="program__title title title--dark">Фойе Конференц-залов</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">10:00 - 17:00</time>
                    <div class="article-program__notation">
                      Фойе Конференц-залов
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Выставка производителей Калининградской области</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        - Остров «Новые технологии»<br>
                        - Остров «Туризм»<br>
                        - Остров «Балтийские продукты»<br>
                        - Остров «Региональные бренды»
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">10:00 - 17:00</time>
                    <div class="article-program__notation">
                      Фойе Конференц-залов
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Деловая консультационная зона</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        Открытая площадка
                        по нетворкингу с ведущими специалистами партнеров Фонда
                      </p>
                      <ul class="article-program__list">
                        <li class="article-program__item">
                          Индивидуальный предприниматель Марченко Елена Станиславовна
                        </li>
                        <li class="article-program__item">
                          Общество с ограниченной ответственностью «Удостоверяющий центр Сибири»
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">15:30 - 16:00</time>
                    <div class="article-program__notation">
                      Фойе Конференц-залов
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Подписание соглашений о сотрудничестве</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        - Между Фондом «Центр поддержки предпринимательства Калининградской области» и Обществом с
                        ограниченной ответственностью «Хэдхантер».
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <h2 class="program__title title title--dark">Фойе Концертного зала</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">09:30 - 17:00</time>
                    <div class="article-program__notation">
                      Фойе Концертного зала- 2 этаж<br>
                      Зона нетворкинга
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Деловая консультационная зона</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        Открытая площадка
                        по нетворкингу с ведущими специалистами партнеров Фонда
                      </p>
                      <ul class="article-program__list">
                        <li class="article-program__item">
                          Центр «Мой Бизнес» Калининградской области
                        </li>
                        <li class="article-program__item">
                          Публичное акционерное общество «Промсвязьбанк»
                        </li>
                        <li class="article-program__item">
                          Общество с ограниченной ответственностью «Хэдхантер»
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">09:30 - 10:30</time>
                    <div class="article-program__notation">
                      Фойе Концертного зала- 2 этаж<br>
                      Зона нетворкинга
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Регистрация участников</h3>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <h2 class="program__title title title--dark">Параллельные сессии</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">12:45 - 14:15</time>
                    <div class="article-program__notation">Конференц-зал «Оникс 1»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер - класс «Семь этапов развития своего дела: от идеи
                      до федеральной сети»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        Семь этапов развития бизнеса от анализа ниши
                        до масштабирования. Колесо баланса бизнеса, чтобы любой проект поехал.<br>
                        <br>
                        Разбираем последовательность действия и ключевые метрики
                        по сети основным обязательным этапам развития бизнеса:
                      </p>
                      <ol class="article-program__list">
                        <li class="article-program__item">
                          Выбор и оценка ниши
                        </li>
                        <li class="article-program__item">
                          Клиенты и рынок
                        </li>
                        <li class="article-program__item">
                          Продукт
                        </li>
                        <li class="article-program__item">
                          Трафик/Маркетинг/Продажи
                        </li>
                        <li class="article-program__item">
                          Управление командой
                        </li>
                        <li class="article-program__item">
                          Масштабирование
                        </li>
                        <li class="article-program__item">
                          Систематизация
                        </li>
                      </ol>
                    </div>
                    <div class="article-program__description">
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <h5 class="article-program__title article-program__title--small">Анна Харитонова:</h5>
                      <ul class="article-program__list">
                        <li class="article-program__item">
                          Предприниматель, эксперт во франчайзинге и масштабировании. Основатель консалтинговой группы и
                          портала о франчайзинге «Лидер Франшиз»
                        </li>
                        <li class="article-program__item">
                          Основатель франшизы из рейтинга ТОП-3 Лучших франшиз России, 220 франчайзи на территории 4-х
                          стран
                        </li>
                        <li class="article-program__item">
                          Президент Клуба молодых предпринимателей при Федеральном агентстве по делам молодежи
                          Росмолодежь.Бизнес
                        </li>
                        <li class="article-program__item">
                          Победитель федерального конкурса «Лучший молодой предприниматель России»
                        </li>
                        <li class="article-program__item">
                          ТОП-50 лучших спикеров России - Лектор «Лиги Лекторов» победитель федерального конкурса
                          просветителей всероссийского общества Знание
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">12:45 - 14:15</time>
                    <div class="article-program__notation">Конференц-зал «Оникс 2»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Круглый стол «Тренды и тенденции мировой торговли»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        Современные тенденции в мировой торговле свидетельствуют
                        о постоянном росте объемов обмена товарами и услугами между странами. Этот рост стимулируется
                        развитием глобальной экономики, укреплением международных связей, стремлением компаний к поиску
                        возможностей для расширения рынков сбыта
                        и поиска новых иностранных партнеров.<br>
                        <br>
                        Обсудим главные тенденции, которые будут определять экспорт
                        в ближайшие годы.<br>
                        <br>
                        Для кого: для предпринимателей-экспортеров, кто планирует масштабировать свой бизнес, выйти на
                        экспорт и найти новых партнеров, а также для всех, кто интересуется мировой торговлей.<br>
                        <br>
                        Модератор — <strong>Пряхин Александр Валерьевич</strong>, руководитель Представительства АО
                        «Российский
                        экспортный центр» в г. Калининграде<br>
                        <br>
                        Спикер - <strong>Представитель АО «Российский экспортный центр» (РЭЦ)</strong><br>
                        Спикер - <strong>Логинов Антон Владимирович</strong> - торговый представитель России в
                        Казахстане «Возможности и особенности экспорта товаров в Казахстан» (на согласовании)<br>
                        Спикер - <strong>Шарганов Савва Вячеславович</strong> - представитель Оператора
                        демонстрационно-дегустационного павильона продукции АПК в КНР (онлайн присутствие)<br>
                      </p>
                      <h4 class="article-program__title article-program__title--medium">Выступление представителей
                        бизнеса с успешными кейсами по экспорту:</h4>
                      <p class="article-program__text">
                        <strong>Решетников Артем Анатольевич</strong>, генеральный директор ООО «Микромир»<br>
                        <strong>Коншу Елена Валерьевна</strong>, директор по маркетингу ООО «Балтийская лесная компания»
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">12:45 - 14:15</time>
                    <div class="article-program__notation">Конференц-зал «Малахит»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер-класс «Конфликтология в бизнесе»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        В бизнесе невозможно обойтись без диалога, а иногда и спора с отстаиванием интересов.<br>
                        Как добиваться своего в любом разговоре?<br>
                        Как, верно, задавать вопросы исполнителю и заказчику?<br>
                        Как объяснять, чтобы вас верно поняли и при этом не обидеть?<br>
                        Почему спорить необязательно и как вести себя при конфликте интересов?<br>
                        Бонусом вы узнаете об эффективных приемах речевых манипуляций и самообороны известных личностей.<br>
                        Для кого: предприниматели, руководители и все, кто хочет научиться приемам речевой самообороны,
                        отсекать манипуляции и конфликтные ситуации.
                      </p>
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <p class="article-program__text">
                        <strong>Юлия Шустрая</strong> - Тренер по технике, логике речи и конфликтологии. 15 лет эфирного
                        опыта на федеральных каналах - НТВ, РЕН, LIFE, Звезда, Россия-24. Корреспондент, ведущая,
                        специалист по конфликтным интервью и работе со спецслужбами.<br>
                        Медиа-консультант и специалист по
                        продвижению в соцсетях при депутатах Госдумы и членах Правительства России. Работала в проектах:
                        компаний «Росатом», «X5 GROUP», Сколково, Правительства Москвы и других регионов, Союза
                        журналистов России. Автор курсов по конфликтологии и дизайну речи.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">12:45 - 14:15</time>
                    <div class="article-program__notation">Конференц-зал «Агат премиум»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Деловая встреча с промышленными предприятиями Калининградской
                      области (закрытая сессия).</h3>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">13:00 - 14:30</time>
                    <div class="article-program__notation">Концертный зал</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер-класс «Эмпатия в бизнесе. Как построить человечную
                      компанию, в которой есть место людям, инновациям и деньгам»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                      <ul class="article-program__list">
                        <li class="article-program__item">
                          особенности корпоративных культур;
                        </li>
                        <li class="article-program__item">
                          выгорание и средство борьбы с ним на уровне компании;
                        </li>
                        <li class="article-program__item">
                          построение предпринимательской культуры (как одно из решений от выгорания),<br> тестирование
                          гипотез;
                        </li>
                        <li class="article-program__item">
                          ценность ошибок на корпоративном уровне;
                        </li>
                        <li class="article-program__item">
                          построение процессов от клиентов как источник энергии для сотрудников и бизнеса;
                        </li>
                      </ul>
                      <br>
                      Спикер приведёт примеры из практики «ВкусВилл» и других российских компанийДля кого: для
                      предпринимателей и управляющих, кто хочет узнать, как построить человечную компанию, в которой
                      есть место людям, инновациям и деньгам.
                      </p>
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <p class="article-program__text">
                        <strong>Евгений Щепин</strong>, основатель и руководитель проекта «ВкусВилл. Практика»,
                        писатель,
                        предприниматель. Автор книг «Энергия клиента» и «ВкусВилл». С 2011 по 2018 год отвечал за
                        внешние коммуникации и построение имиджа «ВкусВилл». В 2018 основал и руководит проектом
                        «ВкусВилл. Практика», эволюционная цель которого - увеличение количества клиентоцентричных
                        компаний в России. Является автором курса по современному предпринимательству в Высшей школе
                        бизнеса МГУ, приглашенным спикером в корпоративном университете «Сбербанка», спикером-практиком
                        в школе управления «Сколково».
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">13:00 - 14:00</time>
                    <div class="article-program__notation">зал «Барре»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер- класс «Как нейромаркетинг повышает продажи, эффективность
                      рекламных кампаний и конверсию сайта»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text article-program__text--closest">
                        <strong>1. Основы нейромаркетинга и влияние на продажи:</strong>
                      </p>
                      <ul class="article-program__list">
                        <li class="article-program__item">
                          Определение нейромаркетинга и почему он стал актуальным в современном мире. В поисках кнопки
                          “покупаю” у клиента;
                        </li>
                        <li class="article-program__item">
                          Нейробиология. Разбор психологии каждого поколения (X, Y, Z, A) и их отношение к брендам и
                          покупкам;
                        </li>
                        <li class="article-program__item">
                          Исследование покупательской способности поколений и ее динамики;
                        </li>
                        <li class="article-program__item">
                          Интерактивный элемент работы с аудиторией.
                        </li>
                      </ul>
                      <br>
                      <p class="article-program__text article-program__text--closest">
                        <strong>2. Подходы к маркетингу и продажам для каждого поколения:</strong>
                      </p>
                      <ul class="article-program__list">
                        <li class="article-program__item">
                          Поколение X: Ключевые паттерны и кейсы маркетингового контента для офферов. Use case от
                          брендов;
                        </li>
                        <li class="article-program__item">
                          Поколение Y: Ключевые паттерны и кейсы маркетингового контента для офферов. Кейс клиентской
                          диверсификации;
                        </li>
                        <li class="article-program__item">
                          Поколение Z: Ключевые паттерны и кейсы маркетингового контента для офферов. Интегрированные
                          кампании и цифровой инструментарий;
                        </li>
                        <li class="article-program__item">
                          Поколение A: Ключевые паттерны и кейсы маркетингового контента для офферов. Пример из
                          практики: использование технологий дополненной реальности для привлечения аудитории.
                        </li>
                      </ul>
                      <br>
                      <p class="article-program__text article-program__text--closest">
                        <strong>3. Связывание поколений и кросс-платформенный подход:</strong>
                      </p>
                      <ul class="article-program__list">
                        <li class="article-program__item">
                          Схема связи поколений и влияния на принятие решений;
                        </li>
                        <li class="article-program__item">
                          Кросс-платформенные стратегии;
                        </li>
                        <li class="article-program__item">
                          Кейс-исследование влияние нейротриггеров на принятие решения о покупке.
                        </li>
                      </ul>
                      <br>
                      <p class="article-program__text article-program__text--closest">
                        <strong>4. Интерактивный финал и разбор кейсов участников</strong>
                      </p>
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <p class="article-program__text">
                        <strong>Наталья Румянцева</strong>, коммерческий директор АТОЛ Онлайн (входит в топ 30 ИТ
                        компаний России).
                        Специалист международного уровня по ABM маркетингу. Резидент ассоциации ITSMA. 20+ лет
                        практического опыта в продажах. 15+ лет в управлении продажами и маркетингом. 10+ лет в ABM
                        маркетинге и нейромаркетинге. Прошла карьерный путь от DSA в банке до коммерческого директора в
                        системообразующей ИТ компании за 20 лет. Весь накопленный опыт консолидирован в книге «Взрывной
                        рост бизнеса: ABM-маркетинг в действии». Более 5 лет (2650 ч.) лекционного стажа, более 300
                        выступлений, мастер-классов и интенсивов онлайн и оффлайн. Темы и презентации регулярно входят в
                        ТОП3 по оценкам аудитории.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">13:00 - 14:30</time>
                    <div class="article-program__notation">Конференц-зал «Янтарный»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер-класс «Действовать СЕЙЧАС»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">Ну что же, случилось. Мы в самом эпицентре глобальных изменений.
                        Процесс необратим и имеет центростремительную силу. Неопределённость растет, а решения принимать
                        надо. Каждый день.<br>
                        Чтобы начать управлять изменениями, необходимо мыслить на другом уровне.<br>
                        А как?<br>
                        И что делать?<br>
                        И какие решения принимать, а на какие не тратить время и энергию?<br>
                        Обо всем поговорим на мастер-классе «Действовать СЕЙЧАС»: проанализируем, уберем эмоции,
                        составим план действий. Не на год, а на СЕЙЧАС.
                        Разговор будет серьезный, честный и вдумчивый.
                        Для кого: предприниматели, руководители и все те, кто хотят действовать с умом, а не «плыть по
                        течению» или создавать «имитацию бурной деятельности».</p>
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <p class="article-program__text">
                        <strong>Гузель Хисматуллина</strong>, собственник тренинговой компании TeamSoft, практикующий
                        психолог, бизнес-тренер, дважды спикер на конференции TEDxBaumanSt, спикер на фестивале «Возраст
                        Счастья»
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">14:30 - 16:00</time>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Обед</h3>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">14:45 - 16:15</time>
                    <div class="article-program__notation">Параллельные сессии</div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">14:45 - 16:15</time>
                    <div class="article-program__notation">Конференц-зал «Оникс 1»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Круглый стол «Семейный бизнес как основа региональной
                      экономики».</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        Ключевые аспекты управления семейным предприятием.<br>
                        Эффективное управление своим бизнесом, основанное на семейных ценностях и вовлечении членов
                        семьи в процесс управления.<br>
                        Роль и влияние семьи на бизнес, в том числе влияние отношений внутри семьи на принятие решений.<br>
                        Обмен опытом.<br>
                        <br>
                        Модератор - <strong>Феликс Феликсович Лапин</strong>, президент Союза «Калининградская торгово —
                        промышленная палата»
                      </p>
                      <!--                      <ul class="article-program__list">-->
                      <!--                        <li class="article-program__item">-->
                      <!--                          Особенности семейного бизнеса<br>-->
                      <!--                          <p class="article-program__text">-->
                      <!--                            <strong>Роман Владимирович Васильчук</strong>, генеральный директор ООО «Биобалт».-->
                      <!--                          </p>-->
                      <!--                        </li>-->
                      <!--                        <li class="article-program__item">-->
                      <!--                          Меры поддержки семейного предпринимательства как залог роста экономики регионов страны.<br>-->
                      <!--                          <p class="article-program__text">-->
                      <!--                            <strong>Сергей Иванович Башкатов</strong>, председатель Совета по развитию семейного-->
                      <!--                            предпринимательства ТПП РФ-->
                      <!--                          </p>-->
                      <!--                        </li>-->
                      <!--                        <li class="article-program__item">-->
                      <!--                          <strong>Андрей Владимирович Романов</strong>, учредитель Группы компаний «Залесское молоко».-->
                      <!--                        </li>-->
                      <!--                      </ul>-->
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">14:45 - 16:00</time>
                    <div class="article-program__notation">Конференц-зал «Янтарный»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер-класс «Нейросети не только для гигантов: большие
                      возможности для малого бизнеса»</h3>
                    <ul class="article-program__list">
                      <li class="article-program__item">
                        Как устроен рынок нейронок и где искать вдохновение
                      </li>
                      <li class="article-program__item">
                        Как проводить тесты быстро и эффективно
                      </li>
                      <li class="article-program__item">
                        Примерить на себя – кейсы GigaChat для бизнеса
                      </li>
                      <li class="article-program__item">
                        Что учесть в планировании на будущее, наблюдая за настоящим Q&A
                      </li>
                    </ul>
                    <br>
                    <h4 class="article-program__title article-program__title--medium">Для кого:</h4>
                    <p class="article-program__text">
                      - Действующие и будущие владельцы бизнеса, предпринимателям, которые хотят узнать, как нейросети
                      могут помочь им улучшить бизнес-процессы и повысить эффективность работы.<br>
                      - Менеджерам малого бизнеса, которые заинтересованы
                      в использовании новых технологий для оптимизации своих задач
                      и улучшения результатов работы<br>
                      - IT-специалистам, разработчикам программного обеспечения, аналитикам данных, специалистам по
                      машинному обучению, которые хотят узнать больше о применении нейросетей в бизнесе
                      и возможностях их использования для решения конкретных задач
                    </p>
                    <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                    <p class="article-program__text">
                      <strong>Полина Гришина</strong>, руководитель направления развития бизнеса, LLM, СберДевайсы.
                      Непосредственный
                      участник запуска проекта GigaChat с точки зрения построения партнерств и развития бизнеса.
                      Профессиональный фокус на построение и развитие инновационных проектов внутри корпораций – поиск
                      первых кейсов, продуктовой и бизнес-ценности, точек роста продукта, custdev (развитие
                      пользователей).
                      С 2020 года руководитель направления развития партнерств в продуктах
                      с виртуальными ассистентами Салют, NLP технологий и нейросетей Сбера. С 2018 менеджер по развитию
                      портфеля b2b и b2c продуктов для видеоигр
                      в инновационном центре Лаборатории Каперского
                    </p>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">14:45 - 16:00</time>
                    <div class="article-program__notation">Конференц-зал «Оникс 2»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер-класс «Как рассказать о себе, чтобы Вас запомнили?»</h3>
                    <p class="article-program__text">
                      7 техник построения деловой самопрезентации, которые станут опорой при создании первого
                      впечатления лидера, руководителя, предпринимателя.
                    </p>
                    <h4 class="article-program__title article-program__title--medium">Мастер-класс подходит тем, кто
                      хочет:</h4>
                    <p class="article-program__text">
                      - ПОНЯТЬ, как произвести правильное первое впечатление.<br>
                      - ЛЕГКО устанавливать коммуникацию с людьми.<br>
                      - УЗНАТЬ, как выглядеть уместно и презентабельно.<br>
                      - РАЗОБРАТЬСЯ наконец в дресс-кодах.<br>
                      - НАЙТИ свои сильные стороны и определить точки роста для дальнейшего развития.
                    </p>
                    <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                    <p class="article-program__text">
                      <strong>Татьяна Ланская</strong> — профессиональный имиджмейкер, топовый стилист журналов
                      L’Officiel Monaco и Hello
                      Monaco, практикант в люксовом ателье Парижа Camps de Luca. Татьяна - дизайнер украшений и одежды
                      совместно с брендами Soulab и Hi’Max Atelier. Публичный спикер, автор лекций о моде и стиле.<br>
                      <br>
                      <strong>Елена Стернийчук-Кивенко</strong> — тренер по голосу, речи и публичным выступлениям. 8 лет
                      на телевидении:
                      создатель авторской программы, тележурналист, телеведущая. Автор собственной методики
                      «ГОЛОС.РЕЧЬ». Куратор и педагог «Школы телевидения». Спикер в образовательных и правительственных
                      организациях.
                    </p>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <h2 class="program__title title title--white">концертный зал</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">16:00 - 16:15</time>
                    <div class="article-program__notation">
                      Концертный зал
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">1 часть - награждение победителей лотереи</h3>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">16:15 - 17:45</time>
                    <div class="article-program__notation">
                      Концертный зал
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Хедлайнер Форума!</h3>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">17:45 - 18:00</time>
                    <div class="article-program__notation">
                      Концертный зал
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">2 часть - награждение победителей лотереи</h3>
                    <p class="article-program__notification">Завершение форума ✨</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>
    <%= htmlWebpackPlugin.options.sectionFooter %>
  </div>
</div>

<%= htmlWebpackPlugin.options.hidden %>
</body>

</html>