<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<div id="smooth-wrapper">
  <div id="smooth-content">
    <%= htmlWebpackPlugin.options.pageHeader %>
    <main class="main">
      <section class="section section--light section--program pt-190 ptm-135 pb-140">
        <div class="container">
          <div class="program">
            <article class="article-program">
              <h2 class="program__title title title--dark">Программа форума</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">11:00 – 19:00</time>
                    <div class="article-program__notation">
                      Внутренний дворик Янтарь-Холла
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Ярмарка продукции ремесленников «Квартал мастеров»</h3>
                    <p class="article-program__notification">Вход свободный</p>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">10:30 - 17:00</time>
                    <div class="article-program__notation">
                      Внутренний дворик Янтарь-Холла
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Стритфуд</h3>
                    <p class="article-program__notification">Вход свободный</p>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <h2 class="program__title title title--dark">Открытие форума</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">11:00 - 11:20</time>
                    <div class="article-program__notation">Концертный зал</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Открытие форума</h3>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">11:20 - 13:00</time>
                    <div class="article-program__notation">Концертный зал</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Пленарная сессия по теме «Обсуждение ключевых вопросов развития
                      Калининградской области»</h3>
                    <div class="article-program__description">
                      <h4 class="article-program__title article-program__title--medium">Модераторы:</h4>
                      <p class="article-program__text">
                        Кирилл Лило – директор Фонда «Центр поддержки предпринимательства Калининградской области»<br>
                        <br>
                        Валентин Вахтин<br>
                        <br>
                        Участниками станут руководители ведущих предприятий Калининградской области, эксперты, а также
                        представители региональной власти (уточняется)
                      </p>
                    </div>
                    <div class="article-program__description">
                      <h4 class="article-program__title article-program__title--medium">В рамках сессии будут
                        рассмотрены следующие темы:</h4>
                      <ol class="article-program__list">
                        <li class="article-program__item">
                          Логистика и экспорт
                        </li>
                        <li class="article-program__item">
                          Импортозамещение
                        </li>
                        <li class="article-program__item">
                          Промышленность и переработка
                        </li>
                        <li class="article-program__item">
                          Инновации и информационные технологии
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <h2 class="program__title title title--dark">Фойе Концертного зала</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">10:30 - 17:00</time>
                    <div class="article-program__notation">Фойе Концертного зала</div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">10:30 - 17:00</time>
                    <div class="article-program__notation">Фойе Концертного зала – 1 этаж</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Деловая консультационная зона</h3>
                    <div class="article-program__description">
                      <p class="article-program__text mb-25">
                        Открытая площадка по нетворкингу с ведущими специалистами партнеров Фонда (не более 10
                        консультационных зон - в проработке)
                      </p>
                      <ol class="article-program__list">
                        <li class="article-program__item">
                          Центр «Мой Бизнес» Калининградской области
                        </li>
                      </ol>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">10:30 - 17:00</time>
                    <div class="article-program__notation">Фойе Концертного зала – 2 этаж</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Интерактив для участников/ зона нетворкинга</h3>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <h2 class="program__title title title--dark">Параллельные сессии</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">13:30 - 15:00</time>
                    <div class="article-program__notation">Параллельные сессии</div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">13:30 - 15:00</time>
                    <div class="article-program__notation">Конференц-зал «Оникс 1»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер класс «Семь этапов развития своего дела: от идеи
                      до федеральной сети»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        Семь этапов развития бизнеса от анализа ниши до масштабирования.
                        Колесо баланса бизнеса, чтобы любой проект поехал.<br>
                        <br>
                        Разбираем последовательность действия и ключевые метрики по семи основным обязательным этапам
                        развития бизнеса:
                      </p>
                      <ol class="article-program__list">
                        <li class="article-program__item">
                          Выбор и оценка ниши
                        </li>
                        <li class="article-program__item">
                          Клиенты и рынок
                        </li>
                        <li class="article-program__item">
                          Продукт
                        </li>
                        <li class="article-program__item">
                          Трафик/Маркетинг/Продажи
                        </li>
                        <li class="article-program__item">
                          Управление командой
                        </li>
                        <li class="article-program__item">
                          Масштабирование
                        </li>
                        <li class="article-program__item">
                          Систематизация
                        </li>
                      </ol>
                    </div>
                    <div class="article-program__description">
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <h5 class="article-program__title article-program__title--small">Анна Харитонова:</h5>
                      <ul class="article-program__list">
                        <li class="article-program__item">
                          Предприниматель, эксперт во франчайзинге и масштабировании. Основатель консалтинговой группы и
                          портала о франчайзинге «Лидер Франшиз»
                        </li>
                        <li class="article-program__item">
                          Основатель франшизы из рейтинга ТОП-3 Лучших франшиз России, 220 франчайзи на территории 4-х
                          стран
                        </li>
                        <li class="article-program__item">
                          Президент Клуба молодых предпринимателей при Федеральном агентстве по делам молодежи
                          Росмолодежь.Бизнес
                        </li>
                        <li class="article-program__item">
                          Победитель федерального конкурса «Лучший молодой предприниматель России»
                        </li>
                      </ul>
                      <p class="article-program__text">
                        ТОП-50 лучших спикеров России - Лектор «Лиги Лекторов» победитель федерального конкурса
                        просветителей всероссийского общества Знание
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">13:30 - 15:00</time>
                    <div class="article-program__notation">Конференц-зал «Агат премиум»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Круглый стол «Тренды и тенденции мировой торговли»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        Современные тенденции в мировой торговле свидетельствуют о постоянном росте объемов обмена
                        товарами и услугами между странами.
                        Этот рост стимулируется развитием глобальной экономики, укреплением международных связей,
                        стремлением компаний к поиску возможностей
                        для расширения рынков сбыта и поиска новых иностранных партнеров.
                        Обсудим главные тенденции, которые будут определять экспорт в ближайшие годы.
                        Для кого: для предпринимателей-экспортеров, кто планирует масштабировать свой бизнес, выйти на
                        экспорт и найти новых партнеров, а также для всех, кто интересуется мировой торговлей.
                        Выступление 1-2 представителя бизнеса с успешными кейсами по экспорту
                      </p>
                      <h4 class="article-program__title article-program__title--medium">Модератор:</h4>
                      <p class="article-program__text">
                        <strong>Александр Валерьевич Пряхин</strong>, руководитель Представительства
                        АО «Российский экспортный центр» в г. Калининграде
                      </p>
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <p class="article-program__text">
                        <strong>Роман Александрович Генкель</strong>, вице-президент по развитию нефинансовых продуктов,
                        региональной и
                        зарубежной сети и партнерской политике АО «Российский экспортный центр»<br>
                        (на согласовании)
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">13:30 - 15:00</time>
                    <div class="article-program__notation">Концертный зал</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер-класс «Эмпатия в бизнесе. Как построить человечную
                      компанию, в которой есть место людям, инновациям и деньгам»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        - особенности корпоративных культур;<br>
                        - выгорание и средство борьбы с ним на уровне компании;<br>
                        - построение предпринимательской культуры (как одно из решений от выгорания),<br> тестирование
                        гипотез;<br>
                        - ценность ошибок на корпоративном уровне;<br>
                        - построение процессов от клиентов как источник энергии для сотрудников и бизнеса;<br>
                        <br>
                        Спикер приведёт примеры из практики «ВкусВилл» и других российских компанийДля кого: для
                        предпринимателей и управляющих, кто хочет узнать, как построить человечную компанию, в которой
                        есть место людям, инновациям и деньгам.
                      </p>
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <p class="article-program__text">
                        <strong>Евгений Щепин</strong>, основатель и руководитель проекта «ВкусВилл. Практика»,
                        писатель,
                        предприниматель. Автор книг «Энергия клиента» и «ВкусВилл». С 2011 по 2018 год отвечал за
                        внешние коммуникации и построение имиджа «ВкусВилл». В 2018 основал и руководит проектом
                        «ВкусВилл. Практика», эволюционная цель которого - увеличение количества клиентоцентричных
                        компаний в России. Является автором курса по современному предпринимательству в Высшей школе
                        бизнеса МГУ, приглашенным спикером в корпоративном университете «Сбербанка», спикером-практиком
                        в школе управления «Сколково».
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">13:30 - 15:00</time>
                    <div class="article-program__notation">Зал «Барре»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер-класс «Успех, карьера, развитие, финансы»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        На мастер-классе спикером будут затронуты следующие темы:<br>
                        1) Как мы сами программируем себя на провал, не замечая этого?<br>
                        2) 10 практик, которые помогут стать богаче<br>
                        3) Ключ к успеху: где на самом деле его искать?<br>
                        4) Как работа с родом влияет на ваш бизнес?<br>
                        5) Распаковка своего потенциала: зачем это надо и как это сделать правильно
                      </p>
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <p class="article-program__text">
                        <strong>Ксения Мосунова</strong>, дипломированный клинический психолог, создатель первого
                        института современной психологии и родологии.
                      </p>
                      <ul class="article-program__list">
                        <li class="article-program__item">
                          Автор книги-бестселлера «Зов Рода»
                        </li>
                        <li class="article-program__item">
                          Международно-признанный эксперт
                        </li>
                        <li class="article-program__item">
                          Более 12 лет опыта в работе с Родовыми программами
                        </li>
                        <li class="article-program__item">
                          Участница конференции International Congress Prosperity
                        </li>
                        <li class="article-program__item">
                          Работает с программами и установками, которые хранятся в бессознательном человека и передаются
                          «по наследству».
                        </li>
                        <li class="article-program__item">
                          Активно сотрудничает с Чили и Аргентиной в изучении влияния коллективной психотравмы на
                          эпигенетический ландшафт.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">13:30 - 15:00</time>
                    <div class="article-program__notation">Конференц-зал «Малахит»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер-класс «Конфликтология в бизнес»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">
                        В бизнесе невозможно обойтись без диалога, а иногда и спора с отстаиванием интересов.
                        Как добиваться своего в любом разговоре?
                        Как, верно, задавать вопросы исполнителю и заказчику?
                        Как объяснять, чтобы вас верно поняли и при этом не обидеть?
                        Почему спорить необязательно и как вести себя при конфликте интересов?
                        Бонусом вы узнаете об эффективных приемах речевых манипуляций и самообороны известных личностей.
                        Для кого: предприниматели, руководители и все, кто хочет научиться приемам речевой самообороны,
                        отсекать манипуляции и конфликтные ситуации.
                      </p>
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <p class="article-program__text">
                        <strong>Юлия Шустрая</strong> - Тренер по технике, логике речи и конфликтологии. 15 лет эфирного
                        опыта на федеральных каналах - НТВ, РЕН, LIFE, Звезда, Россия-24. Корреспондент, ведущая,
                        специалист по конфликтным интервью и работе со спецслужбами. Медиа-консультант и специалист по
                        продвижению в соцсетях при депутатах Госдумы и членах Правительства России. Работала в проектах:
                        компаний «Росатом», «X5 GROUP», Сколково, Правительства Москвы и других регионов, Союза
                        журналистов России. Автор курсов по конфликтологии и дизайну речи.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">13:30 - 15:00</time>
                    <div class="article-program__notation">Конференц-зал «Янтарный»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Мастер-класс «Действовать СЕЙЧАС»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text">Ну что же, случилось. Мы в самом эпицентре глобальных изменений.
                        Процесс необратим и имеет центростремительную силу. Неопределённость растет, а решения принимать
                        надо. Каждый день.<br>
                        Чтобы начать управлять изменениями, необходимо мыслить на другом уровне.<br>
                        А как?<br>
                        И что делать?<br>
                        И какие решения принимать, а на какие не тратить время и энергию?<br>
                        Обо всем поговорим на мастер-классе «Действовать СЕЙЧАС»: проанализируем, уберем эмоции,
                        составим план действий. Не на год, а на СЕЙЧАС.
                        Разговор будет серьезный, честный и вдумчивый.
                        Для кого: предприниматели, руководители и все те, кто хотят действовать с умом, а не «плыть по
                        течению» или создавать «имитацию бурной деятельности».</p>
                      <h4 class="article-program__title article-program__title--medium">Спикер:</h4>
                      <p class="article-program__text">
                        <strong>Гузель Хисматуллина</strong>, собственник тренинговой компании TeamSoft, практикующий
                        психолог, бизнес-тренер, дважды спикер на конференции TEDxBaumanSt, спикер на фестивале «Возраст Счастья»
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">15:00 - 16:15</time>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Обед</h3>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">15:15 - 16:00</time>
                    <div class="article-program__notation">Параллельные сессии</div>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">15:15 - 16:00</time>
                    <div class="article-program__notation">Конференц-зал «Оникс 1»</div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Круглый стол «Сила семьи, сила бизнеса»</h3>
                    <div class="article-program__description">
                      <p class="article-program__text mb-25">
                        Ключевые аспекты управления семейным предприятием.
                        Эффективное управление своим бизнесом, основанное на семейных ценностях и вовлечении членов семьи в процесс управления.
                        Роль и влияние семьи на бизнес, в том числе влияние отношений внутри семьи на принятие решений.
                        Обмен опытом.
                      </p>
                    </div>
                    <div class="article-program__description">
                      <h4 class="article-program__title article-program__title--medium">Представителей крупных семейных организаций региона<br>
                        (на согласовании):</h4>
                      <ul class="article-program__list">
                        <li class="article-program__item">
                          Туристический кластер «Тильзит-Рагнит» - Артюх Иван Николаевич,
                        </li>
                        <li class="article-program__item">
                          - К(Ф)Х Чуев Виталий Александрович,
                        </li>
                        <li class="article-program__item">
                          - ферма «Козья горка» - Пахомов Андрей Андреевич,
                        </li>
                        <li class="article-program__item">
                          - ИП Субоч Е.П (косметика, Spring),
                        </li>
                        <li class="article-program__item">
                          -«Ферма Тюниных» - Дмитрий и Ольга Тюнины,
                        </li>
                        <li class="article-program__item">
                          - ООО «Биобалт» - Васильчук Роман Владимирович,
                        </li>
                        <li class="article-program__item">
                          -ИП Крынкова Наталья Николаевна
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article-program">
              <h2 class="program__title title title--white">концертный зал</h2>
              <div class="article-program__body">
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">16:15 - 16:30</time>
                    <div class="article-program__notation">
                      Концертный зал
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">1 часть - награждение победителей лотереи</h3>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">16:30 - 18:00</time>
                    <div class="article-program__notation">
                      Концертный зал
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">Хедлайнер Форума!</h3>
                  </div>
                </div>
                <div class="article-program__element">
                  <div class="article-program__info">
                    <time class="article-program__time">18:00 - 18:15</time>
                    <div class="article-program__notation">
                      Концертный зал
                    </div>
                  </div>
                  <div class="article-program__content">
                    <h3 class="article-program__title">2 часть - награждение победителей лотереи</h3>
                    <p class="article-program__notification">Завершение форума</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>
    <%= htmlWebpackPlugin.options.sectionFooter %>
  </div>
</div>

<%= htmlWebpackPlugin.options.hidden %>
</body>

</html>