.separator {
  position: absolute;
  left: 0;
  bottom: -4px;
  z-index: 0;
  display: flex;
  transition: .2s linear;
}

.wave-1 {
  display: none;
}

.wave-2 {
  display: none;
}

.wave-3 {
  display: none;
}

.wave-4 {
  display: none;
}

.wave-5 {
  display: none;
}

.wave-6 {
  display: none;
}

.wave-7 {
  display: none;
}

.wave-8 {
  display: none;
}